.port_con{
    height: 500px !important;
    margin: 0 auto;
    overflow: hidden;
    background-color: #85586F;

    & .port_title{
        font-size: 32px;
        font-weight: bold;
        margin-top: 45px;
        text-align: center;
    }
    & .port_title{
        color: white;
    }

    & .port_list{
        justify-items:center;
        & .port_items{
            margin-top: 60px;
            margin-left:2%;
            margin-right: 2%;
            display: flex;
            justify-content:space-between;
            & .cer1_img{
                width: 400px;
                height: 300px;
                border-radius: 20px;
                background-image: url('/assets/images/cer-react.jpg');
                background-position: top center;
                background-size: cover;
                
            }
            & .cer2_img{
                width: 400px;
                height: 300px;
                border-radius: 20px;
                background-image: url('/assets/images/cer_webapp.jpg');
                background-position: top center;
                background-size: cover;
         
            }
            & .cer3_img{
                width: 400px;
                height: 300px;
                border-radius: 20px;
                background-image: url('/assets/images/CertificateFWB.jpg');
                background-position: top center;
                background-size: cover;
                
            }

            & p{
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                margin: 10px 0;
                color: white;
            }
        }
    }
}

@media screen and (max-width:480px){
    .port_con{
        height: auto !important;

        & .port_list{
           justify-content: center;
            padding-right: 15px;
            & .port_items{
                flex-direction: column;
                width: 100%;
                & .cer1_img{
                    
                    width: 100%;
                }
                & .cer2_img{
                    width: 100%;
                }
                & .cer3_img{
                    width: 100%;
                }
                
            }
        }
    }
}